# Environment variables
.env*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
build/
android/
ios/

# Node modules & locks
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# OS junk
.DS_Store
Thumbs.db

# IDEs / tooling
.vscode/
.idea/
*.iml
